<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.BoardMapper">

	<resultMap type="com.java.board.dto.BoardDto" id="boardDto">
		<result column="board_number" property="boardNumber"/>
		<result column="writer" property="writer"/>
		<result column="subject" property="subject"/>
		<result column="email" property="email"/>
		<result column="content" property="content"/>
		<result column="password" property="password"/>
		<result column="write_date" property="writeDate"/>
		<result column="read_count" property="readCount"/>
		<result column="group_number" property="groupNumber"/>
		<result column="sequence_number" property="sequenceNumber"/>
		<result column="sequence_level" property="sequenceLevel"/>
	</resultMap>
	
	<select id="boardGroupNumberMax" resultType="int" >
		SELECT NVL(MAX(group_number), 0) FROM board
	</select>
	
	<insert id="boardinsert" parameterType="com.java.board.dto.BoardDto">
		INSERT INTO board(board_number, writer, subject, email, content, password, write_date, 
		read_count, group_number, sequence_number, sequence_level) 
		VALUES(board_board_number_seq.nextval, #{writer},#{subject},#{email},#{content},#{password},#{writeDate},
		#{readCount},#{groupNumber},#{sequenceNumber},#{sequenceLevel})
	</insert>
	
	<update id="boardWriteNumber" parameterType="java.util.Map">
		<![CDATA[
		UPDATE board SET sequence_number = sequence_number+1 
		WHERE group_number = #{groupNumber} AND sequence_number > #{sequenceNumber}
		]]>
	</update>
	
	<select id="boardCount" resultType="int">
		select count(*) from board
	</select>
	
	<select id="boardList" parameterType="java.util.Map" resultMap="boardDto">
		<![CDATA[
		SELECT * FROM (SELECT ROWNUM as rnum, A.* from 
		(SELECT * FROM board ORDER BY group_number DESC, sequence_number asc) A) b 
		where b.rnum >= #{startRow} AND b.rnum<= #{endRow}
		]]>
	</select>
	
	<update id="boardReadUp" parameterType="int">
		update board set read_count=read_count+1 where board_number=#{boardNumber}
	</update>
	
	<select id="boardReadSelect" parameterType="int" resultMap="boardDto">
		select * from board where board_number=#{boardNumber}
	</select>
	
	<select id="boardUpdate" parameterType="int" resultMap="boardDto">
		select * from board where board_number=#{boardNumber}
	</select>
	
	<update id="boardUpdateOk" parameterType="com.java.board.dto.BoardDto">
		update board 
		set subject=#{subject}, email=#{email}, content=#{content}, password=#{password} 
		where board_number=#{boardNumber}
	</update>
	
	<delete id="boardDel" parameterType="int">
		DELETE FROM board WHERE board_number =#{boardNumber}
	</delete>
</mapper>
















